:root {
  --color--white: white;
  --font--geist: Geistvariablevf, sans-serif;
  --color--deep-green: #152317;
  --size--16px: 1rem;
  --size--64px: 4rem;
  --size--48px: 3rem;
  --size--32px: 2rem;
  --size--24px: 1.5rem;
  --size--20px: 1.25rem;
  --size--1px: .0625rem;
  --color--medium-grey: #bfc2bc;
  --size--10px: .625rem;
  --size--8px: .5rem;
  --size--18px: 1.125rem;
  --color--accent-green: #004c12;
  --color--light-grey: #e3e4e0;
  --color--dark-grey: #656762;
  --color--black: black;
  --color--off-white: #f6f6f3;
  --font--eb-garamond: "Ebgaramond Variablefont Wght", sans-serif;
  --size--28px: 1.75rem;
  --size--56px: 3.5rem;
  --size--40px: 2.5rem;
  --size--22px: 1.375rem;
  --black: black;
  --color-mode-light--background: var(--color--white);
  --color-mode-light--text: var(--color--deep-green);
  --color-mode-light--text-secondary: var(--color--dark-grey);
  --color-mode-light--button-background: var(--color--deep-green);
  --color-mode-light--button-text: var(--color--white);
  --size--2px: .125rem;
  --size--4px: .25rem;
  --size--6px: .375rem;
  --size--12px: .75rem;
  --size--14px: .875rem;
  --size--72px: 4.5rem;
  --size--80px: 5rem;
  --color--red: #eb4940;
  --size--36px: 2.25rem;
  --size--5px: .3125rem;
  --white: white;
}

body {
  background-color: var(--color--white);
  font-family: var(--font--geist);
  color: var(--color--deep-green);
  font-size: var(--size--16px);
  line-height: 1.5;
}

h1 {
  font-size: var(--size--64px);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.1;
}

h2 {
  font-size: var(--size--48px);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.2;
}

h3 {
  font-size: var(--size--32px);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.3;
}

h4 {
  font-size: var(--size--24px);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.4;
}

h5 {
  font-size: var(--size--20px);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.4;
}

h6 {
  font-size: var(--size--16px);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.5;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: underline;
  display: block;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: .25rem;
}

img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  display: inline-block;
}

form {
  flex-flow: column;
  display: flex;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

strong {
  font-weight: 600;
}

blockquote {
  border-left: var(--size--1px) solid var(--color--medium-grey);
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.utility-page_component {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 20rem;
  display: flex;
}

.utility-page_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_image {
  margin-left: auto;
  margin-right: auto;
}

.global-styles {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
  display: block;
}

.padding-global {
  padding-left: 48px;
  padding-right: 48px;
}

.max-width-medium {
  width: 100%;
  max-width: 31rem;
}

.max-width-medium._1 {
  max-width: 26rem;
}

.max-width-large {
  width: 100%;
  max-width: 42rem;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}


.spacer-xxhuge {
  width: 100%;
  padding-top: 12rem;
}

.icon-1x1-small {
  justify-content: center;
  align-items: center;
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
  display: flex;
}

.button-primary {
  min-height: var(--size--48px);
  padding: var(--size--10px) var(--size--24px);
  grid-column-gap: var(--size--8px);
  grid-row-gap: var(--size--8px);
  border-radius: var(--size--16px);
  background-color: var(--color--deep-green);
  color: var(--color--white);
  font-size: var(--size--18px);
  text-align: center;
  letter-spacing: -.02ch;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  transition: background-color .5s cubic-bezier(.48, 0, .12, 1);
  display: flex;
}

.button-primary:hover {
  background-color: var(--color--accent-green);
}

.button-primary.large {
  min-height: var(--size--64px);
  padding: var(--size--18px) var(--size--32px);
  flex: 0 auto;
  width: 100%;
}

.logo {
  aspect-ratio: 130 / 26;
  width: 130px;
  height: 26px;
}

.logo.medium {
  width: 200px;
  height: 40px;
}

.navbar_dropdown-toggle.is-temp {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  background-color: var(--color--light-grey);
  color: var(--color--deep-green);
  border-radius: 100vw;
  align-items: center;
  padding: 8px;
  transition: color .2s, background-color .2s;
  display: flex;
}

.navbar_dropdown-list.is-temp {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}

.navbar_dropdown-list.is-temp.w--open {
  right: 0;
}

.navbar_dropdown-column {
  flex-direction: column;
  display: flex;
}

.navbar_dropdown-column.is-temp {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-direction: column;
  align-items: stretch;
  max-height: 50vh;
  overflow: auto;
}

.navbar_dropdown-link.is-temp {
  color: var(--color--dark-grey);
  letter-spacing: -.02ch;
  margin-left: 0;
  margin-right: 0;
  padding: 0 12px;
  font-size: 14px;
}

.navbar_dropdown-link.is-temp:hover {
  color: var(--color--black);
}

.navbar_dropdown-link.is-temp.w--current {
  background-color: var(--color--off-white);
  color: var(--color--deep-green);
}

.navbar_dropdown-layout.is-temp {
  background-color: var(--color--white);
  box-shadow: inset 0 0 0 1px var(--color--light-grey), 0 8px 16px 0 rgba(0, 0, 0, .08);
  border-radius: 16px;
  min-width: 318px;
  margin-top: 8px;
  padding: 24px 8px 24px 16px;
}

.navbar_dropdown-layout.is-temp.w--open {
  right: 0;
}

.navbar_dropdown-wrapper {
  z-index: 9999;
}

.navbar_dropdown-wrapper.is-temp {
  margin: 8px;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.plan_tab-link {
  color: var(--color--medium-grey);
  background-color: rgba(0, 0, 0, 0);
  padding: 0 0 20px;
}

.plan_tab-link.w--current {
  color: var(--color--deep-green);
  background-color: rgba(0, 0, 0, 0);
}

.plan-builder_footer-dropdown {
  cursor: pointer;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 260px;
  display: none;
  overflow: hidden;
}

.document_layout {
  flex-flow: column;
  width: 100%;
  max-width: 82rem;
  height: min(100%, 127rem);
  min-height: 127rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
}

.document_layout.is-aside {
  grid-column-gap: 2.25rem;
  grid-row-gap: 2.25rem;
  flex-flow: row;
  display: flex;
}

.document_aside {
  border-right: .5px solid var(--color--black);
  flex-flow: column;
  width: 30%;
  padding-top: .5rem;
  display: flex;
}

.document_rich-text {
  font-family: var(--font--eb-garamond);
  font-size: var(--size--32px);
  letter-spacing: -.04ch;
  font-weight: 400;
  line-height: 1.3;
}

.document_rich-text h1 {
  font-family: var(--font--eb-garamond);
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.05;
}

.document_rich-text h2 {
  font-family: var(--font--eb-garamond);
  font-size: var(--size--32px);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.3;
}

.document_rich-text h3 {
  font-size: var(--size--28px);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.document_rich-text h4, .document_rich-text h5 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.document_rich-text h6 {
  font-size: var(--size--18px);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.document_rich-text p {
  margin-bottom: 1rem;
}

.document_rich-text ul {
  margin-bottom: 0;
  overflow: visible;
}

.document_rich-text ol {
  margin-bottom: 1.5rem;
}

.document_rich-text a {
  color: var(--color--deep-green);
  text-decoration: underline;
}

.document_content {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  flex-flow: column;
  margin-top: 8rem;
  margin-bottom: 5rem;
  display: flex;
}

.document_content.is-60 {
  width: 70%;
  margin-top: 0;
  margin-bottom: 0;
}

.document_text-2 {
  font-size: var(--size--22px);
}

.document_text-2.is-bold {
  font-weight: 500;
}

.document_pagination {
  font-size: var(--size--22px);
  margin-top: auto;
  margin-left: auto;
}

.document_date {
  font-size: var(--size--22px);
  margin-top: auto;
  margin-right: auto;
}

.document_col {
  flex-flow: column;
  display: flex;
}

.document_col.gap-36 {
  grid-column-gap: 2.25rem;
  grid-row-gap: 2.25rem;
}

.document_col.is-bottom {
  margin-top: auto;
}

.document_col.gap-72 {
  grid-column-gap: 4.5rem;
  grid-row-gap: 4.5rem;
}

.document_col.gap-12 {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
}

.document_h1 {
  font-family: var(--font--eb-garamond);
  font-size: var(--size--64px);
  letter-spacing: -.04ch;
  line-height: 1.05;
}

.document_h1.max-width-medium._1 {
  max-width: 32rem;
}

.document_h1.max-width-large {
  max-width: 47rem;
}

.document_h2 {
  font-family: var(--font--eb-garamond);
  font-size: var(--size--32px);
  letter-spacing: -.04ch;
  font-weight: 600;
  line-height: 1.3;
}

.document_text-1 {
  font-family: var(--font--eb-garamond);
  font-size: var(--size--32px);
  letter-spacing: -.04ch;
  line-height: 1.3;
}

.document_text-1.no-shrink {
  flex: none;
}

.document_row {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.document_row.is-bottom {
  margin-top: auto;
  padding-top: 1rem;
}

.document_row.gap-12 {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
}

.document_row.grow {
  flex: 1;
}

.document_spacer {
  flex: 1;
  padding: 0;
}

.document_item-grid {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  border-top: .5px solid var(--color--black);
  grid-template-rows: min-content;
  grid-template-columns: minmax(12rem, auto) 1fr;
  grid-auto-rows: min-content;
  grid-auto-columns: 1fr;
  padding-top: 2rem;
  padding-bottom: 0;
  display: grid;
}

.document_item-grid.is-first {
  border-top-style: none;
}

.document_dynamic-col {
  flex-flow: column;
  display: flex;
}

.document_subitem-grid {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: min-content;
  grid-template-columns: minmax(5rem, auto) 1fr;
  grid-auto-rows: min-content;
  grid-auto-columns: 1fr;
  display: grid;
}

.document_content-top {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.document_content-bottom {
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
  display: flex;
}

.document_grid-2-col {
  grid-column-gap: 2.25rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: min-content;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  grid-auto-columns: 1fr;
  display: grid;
}

.document_grid-2-col.fr-1-2 {
  grid-template-columns: 1fr 2fr;
}

.document_grid-2-col.fr-2-1 {
  grid-template-columns: 2fr 1fr;
}

.document_input-box {
  border-bottom: .5px solid var(--color--black);
  width: 100%;
  min-height: 5rem;
  margin: 0;
  padding: 0;
  display: block;
}

.document_input-box.is-short {
  min-height: 2.25rem;
}

.document_input-title {
  font-family: var(--font--eb-garamond);
  font-size: var(--size--24px);
  letter-spacing: -.04ch;
  flex: none;
  line-height: 1.3;
}

.document_item-flex {
  border-top: .5px solid var(--color--black);
  flex-flow: column;
  padding-top: 2rem;
  padding-bottom: 0;
  display: flex;
}

.document_table-wrapper {
  max-width: max(65vw, 100%);
  overflow: auto;
}

.document_table-cell {
  background-color: #fff;
  flex: 1;
  padding: .5rem .75rem;
}

.document_table {
  grid-column-gap: .0625rem;
  grid-row-gap: .0625rem;
  background-color: var(--black);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-auto-columns: 1fr;
  padding: .0625rem;
  display: grid;
}

.document_table._2-col {
  grid-column-gap: .0625rem;
  grid-row-gap: .0625rem;
  background-color: #000;
  padding: .0625rem;
  display: grid;
}

.document_table._3-col {
  grid-template-columns: 1fr 1fr 1fr;
}

.document_table._2-col {
  grid-template-columns: 1fr 1fr;
}

.document_table-col {
  grid-column-gap: .0625rem;
  grid-row-gap: .0625rem;
  background-color: var(--black);
  flex-flow: column;
  grid-template-rows: min-content;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-auto-columns: 1fr;
  display: flex;
}

@media screen and (max-width: 991px) {
  .form_input, .form_input:hover, .form_input:focus {
    font-size: 18px;
  }

  .form_input::placeholder {
    font-size: 18px;
  }

  .global_accordion-trigger.is-account {
    cursor: pointer;
  }

  .logo.medium {
    width: 150px;
    height: 30px;
  }

  .plan_tab-link._1 {
    width: 36px;
  }

  .plan_tab-link._2 {
    width: 92px;
  }

  .plan-builder_footer-dropdown {
    align-items: flex-start;
    display: flex;
  }

  .document_layout {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .document_layout.is-aside {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .document_rich-text {
    font-size: var(--size--28px);
  }

  .document_rich-text h1 {
    font-size: var(--size--56px);
  }

  .document_rich-text h2 {
    font-size: var(--size--28px);
  }

  .document_rich-text h3 {
    font-size: var(--size--24px);
  }

  .document_rich-text h4 {
    font-size: var(--size--22px);
  }

  .document_content {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .document_text-2 {
    font-size: var(--size--18px);
  }

  .document_pagination, .document_date {
    font-size: var(--size--20px);
  }

  .document_h1 {
    font-size: var(--size--56px);
  }

  .document_h2, .document_text-1 {
    font-size: var(--size--28px);
  }

  .document_item-grid {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: minmax(10rem, auto) 1fr;
  }

  .document_subitem-grid {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: minmax(4rem, auto) 1fr;
  }

  .document_input-title {
    font-size: var(--size--22px);
  }

  .document_table {
    grid-template-columns: minmax(4rem, auto);
  }

  .document_table._3-col, .document_table._2-col {
    grid-template-columns: 1fr;
  }

  .document_table-col {
    grid-template-columns: minmax(4rem, auto);
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  .padding-global {
    padding-left: 24px;
    padding-right: 24px;
  }

  .form_input {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
  }

  .form_input:hover, .form_input:focus {
    font-size: 16px;
  }

  .form_input::placeholder {
    font-size: 16px;
  }

  .button-primary {
    border-radius: 16px;
    min-height: 48px;
    padding: 10px 24px;
    font-size: 16px;
  }

  .button-primary.large {
    min-height: 64px;
    padding: 1.125rem 2rem;
    font-size: 16px;
  }

  .logo {
    width: 115px;
    height: 23px;
  }

  .navbar_dropdown-list.is-temp.w--open {
    flex-direction: column;
    justify-content: flex-end;
  }

  .plan_tab-link._2 {
    padding-left: 4px;
  }

  .plan-builder_footer-dropdown {
    display: flex;
  }

  .document_layout {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .document_layout.is-aside {
    flex-flow: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .document_aside {
    border-bottom: .25px solid var(--color--black);
    border-right-style: none;
    width: auto;
    padding-bottom: 2rem;
  }

  .document_rich-text {
    font-size: var(--size--24px);
  }

  .document_rich-text h1 {
    font-size: var(--size--40px);
  }

  .document_rich-text h2 {
    font-size: var(--size--24px);
  }

  .document_rich-text h3 {
    font-size: var(--size--22px);
  }

  .document_rich-text h4 {
    font-size: var(--size--20px);
  }

  .document_rich-text h5 {
    font-size: var(--size--18px);
  }

  .document_content {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .document_content.is-60 {
    flex: 1;
    width: auto;
  }

  .document_text-2, .document_pagination, .document_date {
    font-size: var(--size--18px);
  }

  .document_h1 {
    font-size: var(--size--40px);
  }

  .document_h2, .document_text-1 {
    font-size: var(--size--24px);
  }

  .document_item-grid {
    flex-flow: column;
    grid-template-columns: 6rem 1fr;
    padding-top: 1.5rem;
    display: flex;
  }

  .document_subitem-grid {
    grid-template-columns: minmax(3rem, auto) 1fr;
  }

  .document_grid-2-col {
    flex-flow: column;
    grid-template-columns: minmax(3rem, auto) 1fr;
    display: flex;
  }

  .document_input-title {
    font-size: var(--size--20px);
  }

  .document_item-flex {
    padding-top: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .form_input, .form_input:hover, .form_input:focus {
    font-size: 16px;
  }

  .form_input::placeholder {
    font-size: 16px;
  }

  .logo.medium {
    width: 100px;
    height: 20px;
  }

  .document_layout, .document_layout.is-aside {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .document_rich-text {
    font-size: var(--size--18px);
  }

  .document_rich-text h1 {
    font-size: var(--size--32px);
  }

  .document_rich-text h2, .document_rich-text h3 {
    font-size: var(--size--20px);
  }

  .document_rich-text h4 {
    font-size: var(--size--18px);
  }

  .document_rich-text h5 {
    font-size: var(--size--16px);
  }

  .document_content {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .document_text-2, .document_pagination, .document_date {
    font-size: var(--size--16px);
  }

  .document_h1 {
    font-size: var(--size--32px);
  }

  .document_h2, .document_text-1 {
    font-size: var(--size--20px);
  }

  .document_subitem-grid, .document_grid-2-col {
    grid-template-columns: minmax(2rem, auto) 1fr;
  }

  .document_input-title {
    font-size: var(--size--18px);
  }
}

#w-node-_046c2806-6df0-ec59-0709-b1526c12c8ca-2c5d6f93, #w-node-b2461201-d1e9-2c87-a4dd-2f4ca7bcd27c-2c5d6fa0, #w-node-b2461201-d1e9-2c87-a4dd-2f4ca7bcd27c-2c5d6fa9, #w-node-_046c2806-6df0-ec59-0709-b1526c12c8ca-2c5d6fb3, #w-node-_8795edf6-be7c-bf7d-f471-3329df9b14f8-2c5d6fbd {
  grid-area: span 1 / span 2 / span 1 / span 2;
}


@font-face {
  font-family: 'Geistvariablevf';
  src: url('https://assets.website-files.com/66278a1798bde75c2c5d6ed2/66278a1798bde75c2c5d6efe_GeistVariableVF.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ebgaramond Variablefont Wght';
  src: url('https://assets.website-files.com/66278a1798bde75c2c5d6ed2/66278a1798bde75c2c5d6f03_EBGaramond-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}